@import url(../css/fonts.css);
.mb10 {
  margin-bottom: 10px;
}

.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri-qube-logo {
  background-image: url('../images/icons-s33dd4a7304.png');
  background-position: 0 -163px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 79px;
  width: 75px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-qube-logo {
    background-image: url('../images/icons-2x-sa595796442.png');
    background-size: 155px auto;
    background-position: 0 -82px;
    height: 79px;
    width: 75px;
  }
}

.fri-logo {
  background-image: url('../images/icons-s33dd4a7304.png');
  background-position: 0 -91px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 282px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-logo {
    background-image: url('../images/icons-2x-sa595796442.png');
    background-size: 155px auto;
    background-position: 0 -46px;
    height: 20px;
    width: 141px;
  }
}

.fri-arrow-white {
  background-image: url('../images/icons-s33dd4a7304.png');
  background-position: 0 -52px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 68px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-arrow-white {
    background-image: url('../images/icons-2x-sa595796442.png');
    background-size: 155px auto;
    background-position: 0 -26px;
    height: 17px;
    width: 34px;
  }
}

.fri-arrow-dark {
  background-image: url('../images/icons-s33dd4a7304.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-arrow-dark {
    background-image: url('../images/icons-2x-sa595796442.png');
    background-size: 155px auto;
    background-position: 0 0;
    height: 11px;
    width: 21px;
  }
}

.top-nav__back:hover .fri-arrow-dark {
  background-image: url('../images/icons-s33dd4a7304.png');
  background-position: 0 -26px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .top-nav__back:hover .fri-arrow-dark {
    background-image: url('../images/icons-2x-sa595796442.png');
    background-size: 155px auto;
    background-position: 0 -13px;
    height: 11px;
    width: 21px;
  }
}

.fri-rostelecom-logo {
  background-image: url('../images/icons-s33dd4a7304.png');
  background-position: 0 -247px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 63px;
  width: 155px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-rostelecom-logo {
    background-image: url('../images/icons-2x-sa595796442.png');
    background-size: 155px auto;
    background-position: 0 -163px;
    height: 63px;
    width: 155px;
  }
}

.fri-star {
  background-image: url('../images/icons-s33dd4a7304.png');
  background-position: 0 -315px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-star {
    background-image: url('../images/icons-2x-sa595796442.png');
    background-size: 155px auto;
    background-position: 0 -228px;
    height: 13px;
    width: 13px;
  }
}

.fri-camera {
  background-image: url('../images/icons-s33dd4a7304.png');
  background-position: 0 -136px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 33px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-camera {
    background-image: url('../images/icons-2x-sa595796442.png');
    background-size: 155px auto;
    background-position: 0 -68px;
    height: 11px;
    width: 17px;
  }
}

.top-nav {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
  height: 102px;
  padding: 27px 0 9px;
  z-index: 999;
  width: 100%;
  position: relative;
}

.top-nav__back {
  padding-right: 11px;
  margin-top: -3px;
  cursor: pointer;
}
.top-nav__back:hover .top-nav__back-text {
  color: #ff6000;
}

.top-nav__back-icon {
  margin-bottom: 22px;
}

.top-nav__back-text {
  font-size: 15px;
}

.button__nav {
  border: 2px solid #000;
  min-height: 40px;
  padding: 0 28px;
}
.button__nav:hover {
  color: #fff;
  background-color: #ff6000;
  border-color: #ff6000;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "HelveticaNeueCyr", Helvetica;
  font-weight: 300;
  font-size: 17px;
  color: #000000;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.site-wrapper {
  width: 100%;
  position: relative;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.block {
  position: relative;
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: 1050px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}

.container-910 {
  position: relative;
  max-width: 910px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}

.container_910 {
  max-width: 910px;
}

.container_955 {
  max-width: 955px;
}

.container_1070 {
  max-width: 1070px;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: -ms-flexbox;
  display: flex;
}

.display-block {
  display: block;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-item-left {
  margin-left: 0;
  margin-right: auto;
}

.flex-item-right {
  margin-right: 0;
  margin-left: auto;
}

.flex-item-middle {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.button {
  font-family: "Bello Pro";
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: normal;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
}

.text-center {
  text-align: center;
}

.centered {
  margin: 0 auto;
}

.general {
  height: 738px;
}

.general__circle-blue {
  position: absolute;
  border-radius: 50%;
  background-color: #00a8ff;
  width: 190px;
  height: 190px;
  top: -110px;
  right: -103px;
}
.general__circle-blue::after {
  position: absolute;
  content: "";
  background-color: #fff;
  bottom: 80px;
  width: 100%;
  height: 100%;
  left: 0;
}

.general__circle-orange {
  background: linear-gradient(to bottom, #ff6000, #ff8800);
  position: absolute;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  top: 188px;
  left: 110px;
}

.general__circle-big-border-gray {
  position: absolute;
  border-radius: 50%;
  width: 874px;
  height: 874px;
  top: -29px;
  left: 144px;
  background: transparent;
  border: 1px solid #f7f7f7;
}

.general__circle-small-border-gray {
  position: absolute;
  border-radius: 50%;
  width: 597px;
  height: 597px;
  top: 110px;
  left: 282px;
  background: transparent;
  border: 1px solid #f7f7f7;
}

.general__all-tv {
  position: absolute;
  top: 236px;
  right: 71px;
  left: auto;
  width: 909px;
  height: 341px;
  background: url("../images/general-vse-tv.png") no-repeat top;
  background-size: auto;
}

.general__gadget {
  position: absolute;
  top: 220px;
  right: 155px;
  left: auto;
  width: 610px;
  height: 527px;
  background: url("../images/general-gadget.png") no-repeat top;
}

.is-overflow-hidden {
  overflow: hidden;
}

.small-title {
  font-family: "HelveticaNeueCyr", Helvetica;
  font-weight: 100;
  font-size: 44px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  line-height: 1;
}

.text-white {
  color: #FFFFFF;
}

.general__circle-white-big {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  width: 183px;
  height: 183px;
  top: 440px;
  right: 331px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.general__circle-white-medium {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 144px;
  height: 144px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.general__circle-white-small {
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.general__logo {
  background: url("../images/vse-tv-logo.png") no-repeat top;
  width: 141px;
  height: 100px;
}

.general__logo-66x47 {
  background: url("../images/vse-tv-logo-66x47.png") no-repeat top;
  width: 66px;
  height: 47px;
}

.tasks-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tasks-grid__item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.tasks-grid__item_w410 {
  width: 410px;
}

.tasks-grid__item_w400 {
  width: 400px;
}

.tasks-grid-item__title {
  position: relative;
  font-family: "HelveticaNeueCyr", Helvetica;
  font-weight: 100;
  font-size: 30px;
  padding-right: 20px;
}
.tasks-grid-item__title::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  width: 16px;
  height: 16px;
  background: linear-gradient(to bottom, #ff6707, #ff8d0b);
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}
.tasks-grid-item__title::before {
  position: absolute;
  border-radius: 50%;
  content: "";
  width: 16px;
  height: 16px;
  background: linear-gradient(to bottom, #07acff, #05c2ff);
  top: 50%;
  transform: translateY(-50%);
  right: -46px;
}

.tasks-grid-item__paragraph {
  font-family: "HelveticaNeueCyr";
  font-weight: 300;
  font-size: 15px;
  color: #000000;
  line-height: 1.6;
}

.tasks-hashtags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -9px;
  margin-bottom: -10px;
}

.tasks-hashtags__item {
  padding-bottom: 10px;
  padding-right: 9px;
  display: -ms-flexbox;
  display: flex;
}

.hashtag {
  font-size: 13px;
  color: #5e5e5e;
  border: 1px solid #00a9ff;
  border-radius: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 24px 9px 18px;
  cursor: pointer;
}
.hashtag:hover {
  color: #FFFFFF;
  background-color: #00a9ff;
}
.hashtag.is-filled {
  color: #FFFFFF;
  background-color: #00a9ff;
}
.hashtag.is-filled:hover {
  color: #5e5e5e;
  background-color: transparent;
}

.hashtag_dots {
  color: #00a9ff;
  font-size: 33px;
  line-height: 0;
  padding: 0 17px;
}

.short-description {
  position: relative;
}

.background-question {
  font-family: "HelveticaNeueCyr", Helvetica;
  font-weight: 900;
  position: absolute;
  font-size: 143.7px;
  color: #f2f2f2;
  text-transform: uppercase;
  left: 161px;
  top: 80px;
  opacity: 0.5;
  letter-spacing: -7px;
  z-index: -1;
}

.short-description-grid {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 0 0 70px;
}

.short-description-grid__left-item {
  width: 280px;
  margin-right: 50px;
  text-align: right;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-weight: 300;
  font-size: 15px;
  padding-top: 43px;
  line-height: 1.6;
}

.short-description-grid__center-item {
  width: 290px;
  height: 334px;
  background: url("../images/short-description.png");
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.short-description-grid__right-item {
  text-align: left;
  width: 280px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 300;
  padding-top: 43px;
  line-height: 1.6;
  margin-left: -75px;
}

.design {
  position: relative;
  max-height: 768px;
  padding-top: 100px;
  background-color: #00a9ff;
  background: url("../images/design-gradient.png") no-repeat top;
  overflow: hidden;
}

.first-active-slide {
  top: 40px;
  left: 40px;
  z-index: 1;
}

.second-active-slide {
  z-index: 10;
}

.third-active-slide {
  top: 40px;
  right: 40px;
  z-index: 1;
}

.design__title {
  color: #FFFFFF;
  font-size: 189.09px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: -9px;
}

.design-slider {
  position: relative;
  margin: 0 80px;
  top: -220px;
}
.design-slider .owl-item {
  filter: blur(2px);
}
.design-slider .owl-item > * {
  width: 100%;
  position: relative;
  transition: all 0.5s ease;
  margin-right: auto;
  margin-left: auto;
}
.design-slider .owl-item.active > * {
  top: -15px;
  margin-left: auto;
  margin-right: 0;
}
.design-slider .owl-item.active + .active {
  filter: blur(0);
  z-index: 2;
}
.design-slider .owl-item.active + .active > * {
  top: 0;
  transform: scale(1.3);
  z-index: 2;
}
.design-slider .owl-item.active + .active + .active {
  filter: blur(2px);
  z-index: 1;
}
.design-slider .owl-item.active + .active + .active > * {
  top: -15px;
  margin-left: 0;
  margin-right: auto;
  transform: scale(1);
  z-index: 1;
}

.design-slider__slide {
  background: url("../images/design-slide-1.png") no-repeat center bottom/contain;
  width: 100%;
  height: 759px;
}

.design-slider__slide-1 {
  background-image: url("../images/design-slide-1.png");
}

.design-slider__slide-2 {
  background-image: url("../images/design-slide-2.png");
}

.design-slider__slide-3 {
  background-image: url("../images/design-slide-3.png");
}

.design-slider__slide-4 {
  background-image: url("../images/design-slide-4.png");
}

.design-slider__slide-5 {
  background-image: url("../images/design-slide-5.png");
}

.design-slider__slide-6 {
  background-image: url("../images/design-slide-6.png");
}

.design-slider__slide-7 {
  background-image: url("../images/design-slide-7.png");
}

.tv-guide {
  z-index: 100;
  margin-bottom: 90px;
}

.section-number {
  position: relative;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: linear-gradient(135deg, #f96206 0%, #ff8b00 100%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 30px;
  margin: -44px auto 65px;
  z-index: 100;
}
.section-number::after {
  position: absolute;
  content: "";
  top: 104px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 39px;
  background-color: #ff6000;
}

.tv-guide__paragraph {
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  width: 650px;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 40px;
}

.tv-guide-images {
  position: relative;
  width: 1500px;
  height: 647px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
}

.tv-guide__image {
  position: absolute;
  top: 0;
  background-color: transparent;
  background: url("../images/tv-guide-1.png") no-repeat;
  width: 100%;
  height: 100%;
}

.tv-guide__image_1 {
  background-image: url("../images/tv-guide-1.png");
  top: 98px;
  left: 4px;
}

.tv-guide__image_2 {
  background-image: url("../images/tv-guide-2.png");
  left: 258px;
  top: 69px;
}

.tv-guide__image_3 {
  background-image: url("../images/tv-guide-3.png");
  left: 507px;
  top: 39px;
}

.arrow {
  font-family: "PT Sans";
  font-style: italic;
  position: absolute;
  color: #ff6000;
  font-size: 13px;
  width: 180px;
  text-align: center;
}

.arrow_1 {
  position: absolute;
  bottom: 50px;
  left: 258px;
}
.arrow_1::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_1.png") no-repeat;
  bottom: 40px;
  left: 74px;
  width: 42px;
  height: 83px;
}
.arrow_1::before {
  position: absolute;
  content: "";
  background-image: url("../images/target.png") no-repeat;
  bottom: 134px;
  left: 147px;
  width: 40px;
  height: 40px;
}

.arrow_2 {
  position: absolute;
  top: 23px;
  left: 728px;
  width: 85px;
}
.arrow_2::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_2.png") no-repeat;
  top: 18px;
  right: 89px;
  width: 44px;
  height: 34px;
}
.arrow_2::before {
  position: absolute;
  content: "";
  background: url("../images/target.png") no-repeat;
  top: 60px;
  right: 120px;
  width: 40px;
  height: 40px;
}

.arrow_3 {
  position: absolute;
  top: 0;
  right: 236px;
  width: 200px;
}
.arrow_3::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_3.png") no-repeat;
  top: 60px;
  right: 93px;
  width: 43px;
  height: 83px;
}
.arrow_3::before {
  position: absolute;
  content: "";
  background: url("../images/target.png") no-repeat;
  top: 176px;
  right: 171px;
  width: 40px;
  height: 40px;
}

.collection {
  height: 962px;
  background-color: #f9f9f9;
}

.collection__paragraph {
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  width: 650px;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 58px;
}

.collection-images {
  position: relative;
}

.collection__gadget {
  position: absolute;
  background: url("../images/collection-gadget.png") no-repeat;
  width: 334px;
  height: 650px;
  left: 97px;
}

.collection__screen {
  position: absolute;
  background-repeat: no-repeat;
  height: 635px;
  top: 71px;
}

.collection__screen_1 {
  position: absolute;
  background-image: url("../images/collection-screen-1.png");
  width: 426px;
  left: 218px;
}

.collection__screen_2 {
  position: absolute;
  background-image: url("../images/collection-screen-2.png");
  width: 405px;
  left: 372px;
}

.collection__screen_3 {
  position: absolute;
  background-image: url("../images/collection-screen-3.png");
  width: 429px;
  left: 529px;
}

.collection__price {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 115px;
  height: 45px;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  background-color: #e06016;
  top: 194px;
  left: 54px;
  border-radius: 5px;
}

.collection__rating {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 115px;
  height: 45px;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  background-color: #00a8ff;
  top: 247px;
  left: 54px;
  border-radius: 5px;
  padding: 0 27px 0 20px;
}

.fri-star {
  margin-right: 10px;
}

.arrow_4 {
  position: absolute;
  top: 23px;
  left: 687px;
  width: 85px;
}
.arrow_4::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_4.png") no-repeat;
  top: 25px;
  right: 95px;
  width: 37px;
  height: 26px;
}

.collection__vk {
  position: absolute;
  top: -10px;
  right: 140px;
  background: url("../images/collection-vk.png") no-repeat;
  width: 99px;
  height: 99px;
}

.collection__fb {
  position: absolute;
  top: -10px;
  right: 55px;
  background: url("../images/collection-fb.png") no-repeat;
  width: 99px;
  height: 99px;
}

.my-collection {
  background-color: #e0e5e8;
  padding-top: 130px;
  height: 724px;
}

.my-collection-wrapper {
  position: relative;
}

.my-collection__profile {
  position: absolute;
  width: 448px;
  height: 394px;
  background: url("../images/my-collection-profile.png");
  top: -26px;
  left: 77px;
}

.my-collection__remind {
  position: absolute;
  width: 314px;
  height: 371px;
  background: url("../images/my-collection-remind.png");
  top: 139px;
  left: 369px;
  z-index: 2;
}

.my-collection__profile-descr {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  top: 320px;
  left: 128px;
}

.profile__descr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 40px;
}

.profile__name {
  font-size: 16px;
  font-weight: bold;
  color: #424242;
}

.profile__email {
  font-size: 14px;
  font-weight: 300;
  color: #868686;
  margin-bottom: 15px;
}

.profile__photo {
  background: url("../images/my-collection-profile-photo.png");
  width: 131px;
  height: 139px;
  margin-right: 20px;
}

.fri-camera {
  margin-right: 17px;
}

.profile__status {
  display: -ms-flexbox;
  display: flex;
}

.profile__status-name {
  font-size: 20px;
  color: #4d4d4d;
  font-weight: 400;
}

.arrow_5 {
  position: absolute;
  top: 15px;
  left: 495px;
  width: 85px;
}
.arrow_5::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_5.png") no-repeat;
  top: 25px;
  right: 55px;
  width: 87px;
  height: 45px;
}

.arrow_6 {
  position: absolute;
  top: 433px;
  left: 690px;
  width: 85px;
}
.arrow_6::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_6.png") no-repeat;
  top: 3px;
  right: 90px;
  width: 30px;
  height: 14px;
}

.my-collection__top-text {
  position: absolute;
  width: 380px;
  font-size: 21px;
  font-weight: 300;
  color: #292929;
  top: 50px;
  left: 570px;
  line-height: 1.3;
}

.my-collection__bottom-text {
  position: absolute;
  top: 190px;
  left: 689px;
  width: 265px;
  color: #292929;
  font-size: 15px;
  font-weight: 300;
}
.my-collection__bottom-text .paragraph {
  margin-bottom: 29px;
  line-height: 1.6;
}
.my-collection__bottom-text .paragraph:last-child {
  margin-bottom: 0;
}

.pt50 {
  padding-top: 50px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb7 {
  margin-bottom: 7px;
}

.mb11 {
  margin-bottom: 11px;
}

.mb13 {
  margin-bottom: 13px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb17 {
  margin-bottom: 17px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb23 {
  margin-bottom: 23px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb55 {
  margin-bottom: 55px;
}

.mr105 {
  margin-right: 105px;
}

.fz36 {
  font-size: 36px;
}

.fz38 {
  font-size: 38px;
}
