.mb10 {
  margin-bottom: 10px;
}

.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri-qube-logo {
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 -387px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 79px;
  width: 75px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-qube-logo {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 -194px;
    height: 79px;
    width: 75px;
  }
}

.fri-logo {
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 -315px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 282px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-logo {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 -158px;
    height: 20px;
    width: 141px;
  }
}

.fri-arrow-white {
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 -100px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 68px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-arrow-white {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 -50px;
    height: 17px;
    width: 34px;
  }
}

.fri-arrow-dark {
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 -26px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-arrow-dark {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 -13px;
    height: 11px;
    width: 21px;
  }
}

.nav__back > a:hover .fri-arrow-dark {
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 42px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .nav__back > a:hover .fri-arrow-dark {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 0;
    height: 11px;
    width: 21px;
  }
}

.fri-rostelecom-logo {
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 -471px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 63px;
  width: 155px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-rostelecom-logo {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 -275px;
    height: 63px;
    width: 155px;
  }
}

.fri-star {
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 -539px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-star {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 -340px;
    height: 13px;
    width: 13px;
  }
}

.fri-camera {
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 -360px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 33px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .fri-camera {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 -180px;
    height: 11px;
    width: 17px;
  }
}

.vsetv-wrapper .pagenavi .pagenavi__post.is-left a:hover::before {
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 -52px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 43px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .vsetv-wrapper .pagenavi .pagenavi__post.is-left a:hover::before {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 -26px;
    height: 22px;
    width: 11px;
  }
}
.vsetv-wrapper .pagenavi .pagenavi__post.is-right a:hover::before {
  transform: rotate(180deg);
  background-image: url('../images/icons-s0211b78921.png');
  background-position: 0 -52px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 43px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .vsetv-wrapper .pagenavi .pagenavi__post.is-right a:hover::before {
    background-image: url('../images/icons-2x-sd88840fe23.png');
    background-size: 155px auto;
    background-position: 0 -26px;
    height: 22px;
    width: 11px;
  }
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "HelveticaNeueCyr", Helvetica;
  font-weight: 300;
  font-size: 17px;
  color: #000000;
  background-color: #fff;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1;
}

div {
  display: block;
}

.vsetv-wrapper {
  width: 100%;
  position: relative;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.block {
  position: relative;
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: 1050px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.container::after {
  clear: both;
}
.container::before {
  content: "";
  display: table;
}

.container-910 {
  position: relative;
  max-width: 910px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}
.container-910::after {
  clear: both;
}
.container-910::before {
  content: "";
  display: table;
}

.container_910 {
  max-width: 910px;
}

.container_955 {
  max-width: 955px;
}

.container_1070 {
  max-width: 1070px;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: -ms-flexbox;
  display: flex;
}

.display-block {
  display: block;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-item-left {
  margin-left: 0;
  margin-right: auto;
}

.flex-item-right {
  margin-right: 0;
  margin-left: auto;
}

.flex-item-middle {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.button {
  font-family: "Bello Pro";
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: normal;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
}

.text-center {
  text-align: center;
}

.centered {
  margin: 0 auto;
}

.general {
  height: 836px;
}

.general__circle-blue {
  position: absolute;
  border-radius: 50%;
  background-color: #00a8ff;
  width: 190px;
  height: 190px;
  top: -6px;
  right: -103px;
}
.general__circle-blue::after {
  position: absolute;
  content: "";
  background-color: #fff;
  bottom: 80px;
  width: 100%;
  height: 100%;
  left: 0;
}

.general__circle-orange {
  background: url("../images/general-circle-orange.png");
  position: absolute;
  border-radius: 50%;
  width: 180px;
  height: 182px;
  top: 188px;
  left: 80px;
}

.general__circle-big-border-gray {
  position: absolute;
  border-radius: 50%;
  width: 874px;
  height: 874px;
  top: -29px;
  left: 144px;
  background: transparent;
  border: 1px solid rgba(224, 224, 224, 0.3);
}

.general__circle-small-border-gray {
  position: absolute;
  border-radius: 50%;
  width: 597px;
  height: 597px;
  top: 110px;
  left: 282px;
  background: transparent;
  border: 1px solid #e0e0e0;
}

.general__all-tv {
  position: absolute;
  top: 236px;
  right: 71px;
  left: auto;
  width: 909px;
  height: 341px;
  background: url("../images/general-vse-tv.png") no-repeat top;
  background-size: auto;
}

.general__gadget {
  position: absolute;
  top: 220px;
  left: 285px;
  width: 1390px;
  height: 527px;
  background: url("../images/general-gadget.png") no-repeat top;
}

.is-overflow-hidden {
  overflow: hidden;
}

.small-title {
  font-family: "HelveticaNeueCyr", Helvetica;
  font-weight: 100;
  font-size: 44px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  line-height: 1;
}

.text-white {
  color: #FFFFFF;
}

.general__circle-white-big {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  width: 183px;
  height: 183px;
  top: 440px;
  right: 331px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.general__circle-white-medium {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 144px;
  height: 144px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.general__circle-white-small {
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.general__logo {
  background: url("../images/vse-tv-logo.png") no-repeat top;
  width: 141px;
  height: 100px;
}

.general__logo-66x47 {
  background: url("../images/vse-tv-logo-66x47.png") no-repeat top;
  width: 66px;
  height: 47px;
}

.tasks-gray-circle {
  position: absolute;
  width: 189px;
  height: 189px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: 23px;
  left: -579px;
}

.tasks-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tasks-grid__item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.tasks-grid__item_w410 {
  width: 410px;
}

.tasks-grid__item_w400 {
  width: 400px;
}

.tasks-grid-item__title {
  position: relative;
  font-family: "HelveticaNeueCyr", Helvetica;
  font-weight: 100;
  font-size: 30px;
  padding-right: 20px;
}
.tasks-grid-item__title::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  width: 16px;
  height: 16px;
  background: linear-gradient(to bottom, #ff6707, #ff8d0b);
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}
.tasks-grid-item__title::before {
  position: absolute;
  border-radius: 50%;
  content: "";
  width: 16px;
  height: 16px;
  background: linear-gradient(to bottom, #07acff, #05c2ff);
  top: 50%;
  transform: translateY(-50%);
  right: -46px;
}

.tasks-grid-item__paragraph {
  font-family: "HelveticaNeueCyr", Helvetica;
  font-weight: 300;
  font-size: 15px;
  color: #000000;
  line-height: 1.6;
}

.tasks-hashtags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -9px;
  margin-bottom: -10px;
}

.tasks-hashtags__item {
  padding-bottom: 10px;
  padding-right: 9px;
  display: -ms-flexbox;
  display: flex;
}

.hashtag {
  font-size: 13px;
  color: #5e5e5e;
  border: 1px solid #00a9ff;
  border-radius: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 24px 9px 18px;
  cursor: pointer;
}
.hashtag:hover {
  color: #FFFFFF;
  background-color: #00a9ff;
}
.hashtag.is-filled {
  color: #FFFFFF;
  background-color: #00a9ff;
}
.hashtag.is-filled:hover {
  color: #5e5e5e;
  background-color: transparent;
}

.hashtag_dots {
  color: #00a9ff;
  font-size: 33px;
  line-height: 0;
  padding: 0 17px;
}

.short-description {
  position: relative;
}

.background-question {
  font-family: "HelveticaNeueCyr", Helvetica;
  font-weight: 900;
  position: absolute;
  font-size: 143.7px;
  color: #f2f2f2;
  text-transform: uppercase;
  left: 161px;
  top: 60px;
  opacity: 0.5;
  letter-spacing: -10px;
  z-index: -1;
}

.short-description-grid {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 0 0 70px;
}

.short-description-grid__left-item {
  width: 280px;
  margin-right: 50px;
  text-align: right;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-weight: 300;
  font-size: 15px;
  padding-top: 41px;
  line-height: 1.6;
}

.short-description-grid__center-item {
  width: 290px;
  height: 334px;
  background: url("../images/short-description.png");
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.short-description-grid__right-item {
  text-align: left;
  width: 280px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 300;
  padding-top: 41px;
  line-height: 1.6;
  margin-left: -75px;
}

.design {
  position: relative;
  max-height: 768px;
  padding-top: 100px;
  background-color: #00a9ff;
  background: url("../images/design-gradient.png") no-repeat top;
  overflow: hidden;
}

.first-active-slide {
  top: 40px;
  left: 40px;
  z-index: 1;
}

.second-active-slide {
  z-index: 10;
}

.third-active-slide {
  top: 40px;
  right: 40px;
  z-index: 1;
}

.design__title {
  color: #FFFFFF;
  font-size: 189.09px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: -9px;
  line-height: 1.15;
}

.design-slider {
  position: relative;
  margin: 0 80px;
  top: -220px;
}
.design-slider .owl-item {
  filter: blur(2px);
}
.design-slider .owl-item > * {
  width: 100%;
  position: relative;
  transition: all 0.5s ease;
  margin-right: auto;
  margin-left: auto;
}
.design-slider .owl-item.active > * {
  top: -15px;
  margin-left: auto;
  margin-right: 0;
}
.design-slider .owl-item.active + .active {
  filter: blur(0);
  z-index: 2;
}
.design-slider .owl-item.active + .active > * {
  top: 0;
  transform: scale(1.3);
  z-index: 2;
}
.design-slider .owl-item.active + .active + .active {
  filter: blur(2px);
  z-index: 1;
}
.design-slider .owl-item.active + .active + .active > * {
  top: -15px;
  margin-left: 0;
  margin-right: auto;
  transform: scale(1);
  z-index: 1;
}

.design-slider__carousel .owl-nav {
  position: absolute;
  top: 347px;
}
.design-slider__carousel .owl-nav .owl-prev {
  position: absolute;
  left: -92px;
  background: url("../images/arrow-slider.png") no-repeat center;
  background-color: transparent;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.design-slider__carousel .owl-nav .owl-prev:hover {
  background: url("../images/arrow-slider-blue.png") no-repeat center;
  background-color: #FFFFFF;
}
.design-slider__carousel .owl-nav .owl-prev::after {
  position: absolute;
  content: "";
  width: 245px;
  height: 460px;
  background: transparent;
  top: -180px;
  left: 90px;
}
.design-slider__carousel .owl-nav .owl-next {
  position: absolute;
  left: 874px;
  background: url("../images/arrow-slider.png") no-repeat center;
  background-color: transparent;
  width: 65px;
  height: 65px;
  transform: rotate(180deg);
  border-radius: 50%;
}
.design-slider__carousel .owl-nav .owl-next:hover {
  background: url("../images/arrow-slider-blue.png") no-repeat center;
  background-color: #FFFFFF;
}
.design-slider__carousel .owl-nav .owl-next::before {
  position: absolute;
  content: "";
  width: 245px;
  height: 460px;
  background: transparent;
  top: -215px;
  left: 90px;
}

.design-slider__slide {
  background: url("../images/design-slide-1.png") no-repeat center bottom/contain;
  width: 100%;
  height: 759px;
}

.design-slider__slide-1 {
  background-image: url("../images/design-slide-1.png");
}

.design-slider__slide-2 {
  background-image: url("../images/design-slide-2.png");
}

.design-slider__slide-3 {
  background-image: url("../images/design-slide-3.png");
}

.design-slider__slide-4 {
  background-image: url("../images/design-slide-4.png");
}

.design-slider__slide-5 {
  background-image: url("../images/design-slide-5.png");
}

.design-slider__slide-6 {
  background-image: url("../images/design-slide-6.png");
}

.design-slider__slide-7 {
  background-image: url("../images/design-slide-7.png");
}

.tv-guide {
  position: relative;
  z-index: 110;
  margin-bottom: 90px;
  background-color: #fff;
}

.section-number {
  position: relative;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: linear-gradient(135deg, #f96206 0%, #ff8b00 100%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 30px;
  margin: -44px auto 65px;
  z-index: 100;
}
.section-number::after {
  position: absolute;
  content: "";
  top: 104px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 39px;
  background-color: #ff6000;
}

.tv-guide__paragraph {
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  width: 650px;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 40px;
}

.tv-guide-images {
  position: relative;
  width: 1500px;
  height: 647px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
}

.tv-guide__image {
  position: absolute;
  top: 0;
  background-color: transparent;
  background: url("../images/tv-guide-1.png") no-repeat;
}

.tv-guide__image_1 {
  background-image: url("../images/tv-guide-1.png");
  top: 98px;
  left: 4px;
  width: 981px;
  height: 644px;
}

.tv-guide__image_2 {
  background-image: url("../images/tv-guide-2.png");
  left: 258px;
  top: 69px;
  width: 978px;
  height: 643px;
}

.tv-guide__image_3 {
  background-image: url("../images/tv-guide-3.png");
  left: 507px;
  top: 39px;
  width: 986px;
  height: 647px;
}

.arrow {
  font-family: "PT Sans";
  font-style: italic;
  position: absolute;
  color: #ff6000;
  font-size: 13px;
  width: 180px;
  text-align: center;
}

.arrow_1 {
  position: absolute;
  bottom: 50px;
  left: 258px;
}
.arrow_1::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_1.png") no-repeat;
  bottom: 40px;
  left: 74px;
  width: 42px;
  height: 83px;
}
.arrow_1::before {
  position: absolute;
  content: "";
  background: url("../images/target.png") no-repeat;
  bottom: 134px;
  left: 147px;
  width: 40px;
  height: 40px;
}

.arrow_2 {
  position: absolute;
  top: 23px;
  left: 728px;
  width: 85px;
}
.arrow_2::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_2.png") no-repeat;
  top: 18px;
  right: 89px;
  width: 44px;
  height: 34px;
}
.arrow_2::before {
  position: absolute;
  content: "";
  background: url("../images/target.png") no-repeat;
  top: 60px;
  right: 120px;
  width: 40px;
  height: 40px;
}

.arrow_3 {
  position: absolute;
  top: 0;
  right: 236px;
  width: 200px;
}
.arrow_3::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_3.png") no-repeat;
  top: 60px;
  right: 93px;
  width: 43px;
  height: 83px;
}
.arrow_3::before {
  position: absolute;
  content: "";
  background: url("../images/target.png") no-repeat;
  top: 176px;
  right: 171px;
  width: 40px;
  height: 40px;
}

.collection {
  height: 962px;
  background-color: #f9f9f9;
  z-index: 10;
}

.collection__paragraph {
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  width: 650px;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 58px;
}

.collection-images {
  position: relative;
}

.collection__gadget {
  position: absolute;
  background: url("../images/collection-gadget.png") no-repeat;
  width: 334px;
  height: 650px;
  left: 97px;
}

.collection__screen {
  position: absolute;
  background-repeat: no-repeat;
  height: 635px;
  top: 71px;
}

.collection__screen_1 {
  position: absolute;
  background-image: url("../images/collection-screen-1.png");
  width: 426px;
  left: 218px;
}

.collection__screen_2 {
  position: absolute;
  background-image: url("../images/collection-screen-2.png");
  width: 405px;
  left: 372px;
}

.collection__screen_3 {
  position: absolute;
  background-image: url("../images/collection-screen-3.png");
  width: 429px;
  left: 529px;
}

.collection__price {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 115px;
  height: 45px;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  background-color: #e06016;
  top: 194px;
  left: 54px;
  border-radius: 5px;
}

.collection__rating {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 115px;
  height: 45px;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  background-color: #00a8ff;
  top: 247px;
  left: 54px;
  border-radius: 5px;
  padding: 0 27px 0 20px;
}

.fri-star {
  margin-right: 10px;
}

.arrow_4 {
  position: absolute;
  top: 23px;
  left: 687px;
  width: 85px;
}
.arrow_4::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_4.png") no-repeat;
  top: 25px;
  right: 95px;
  width: 37px;
  height: 26px;
}

.collection__vk {
  position: absolute;
  top: -10px;
  right: 140px;
  background: url("../images/collection-vk.png") no-repeat;
  width: 99px;
  height: 99px;
}

.collection__fb {
  position: absolute;
  top: -10px;
  right: 55px;
  background: url("../images/collection-fb.png") no-repeat;
  width: 99px;
  height: 99px;
}

.my-collection {
  background-color: #e0e5e8;
  padding-top: 130px;
  height: 724px;
  position: relative;
  z-index: 10;
}

.my-collection-wrapper {
  position: relative;
}

.my-collection__profile {
  position: absolute;
  width: 448px;
  height: 394px;
  background: url("../images/my-collection-profile.png");
  top: -26px;
  left: 77px;
}

.my-collection__remind {
  position: absolute;
  width: 314px;
  height: 371px;
  background: url("../images/my-collection-remind.png");
  top: 139px;
  left: 369px;
  z-index: 2;
}

.my-collection__profile-descr {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  top: 320px;
  left: 128px;
}

.profile__descr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 40px;
  line-height: 1.15;
}

.profile__name {
  font-size: 16px;
  font-weight: bold;
  color: #424242;
}

.profile__email {
  font-size: 14px;
  font-weight: 300;
  color: #868686;
  margin-bottom: 15px;
}

.profile__photo {
  background: url("../images/my-collection-profile-photo.png");
  width: 131px;
  height: 139px;
  margin-right: 20px;
}

.fri-camera {
  margin-right: 17px;
}

.profile__status {
  display: -ms-flexbox;
  display: flex;
}

.profile__status-name {
  font-size: 20px;
  color: #4d4d4d;
  font-weight: 400;
}

.arrow_5 {
  position: absolute;
  top: 15px;
  left: 495px;
  width: 85px;
}
.arrow_5::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_5.png") no-repeat;
  top: 25px;
  right: 55px;
  width: 87px;
  height: 45px;
}

.arrow_6 {
  position: absolute;
  top: 433px;
  left: 690px;
  width: 85px;
}
.arrow_6::after {
  position: absolute;
  content: "";
  background: url("../images/arrow_6.png") no-repeat;
  top: 3px;
  right: 90px;
  width: 30px;
  height: 14px;
}

.my-collection__top-text {
  position: absolute;
  width: 380px;
  font-size: 21px;
  font-weight: 300;
  color: #292929;
  top: 50px;
  left: 570px;
  line-height: 1.3;
}

.my-collection__bottom-text {
  position: absolute;
  top: 190px;
  left: 689px;
  width: 265px;
  color: #292929;
  font-size: 15px;
  font-weight: 300;
}
.my-collection__bottom-text .paragraph {
  margin-bottom: 29px;
  line-height: 1.6;
}
.my-collection__bottom-text .paragraph:last-child {
  margin-bottom: 0;
}

.tv-guide__circle-blue {
  position: absolute;
  border-radius: 50%;
  background-color: #00a8ff;
  width: 151px;
  height: 151px;
  top: 225px;
  left: -57px;
}

.my-collection__circle-blue {
  position: absolute;
  border-radius: 50%;
  background-color: #00a8ff;
  width: 204px;
  height: 204px;
  bottom: 53px;
  right: 93px;
}

.vset-tv-tags {
  height: 1079px;
}

.tags-gray-circle-big {
  position: absolute;
  width: 874px;
  height: 874px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  opacity: 0.3;
  top: -215px;
  left: 105px;
}

.tags-gray-circle-small {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  width: 597px;
  height: 597px;
  top: -75px;
  left: 242px;
}

.section-number_tags {
  margin-top: -86px;
  margin-bottom: 89px;
}

.tags__title {
  visibility: visible !important;
  font-size: 94.92px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.83;
  margin-bottom: 10px;
  z-index: 10;
  position: absolute;
}

.tags__title-text-orange {
  color: #ff6000;
}

.tags__title-text-blue {
  color: #00a8ff;
}

.tags__small-title {
  position: absolute;
  top: 258px;
  left: 290px;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
}

.tags-gadgets {
  position: relative;
}

.tags-gadget {
  position: absolute;
  background-repeat: no-repeat;
}

.tags-gadget_1 {
  background-image: url("../images/tags-gadget-1.png");
  width: 254px;
  height: 516px;
  top: 389px;
  left: 97px;
}

.tags-gadget_2 {
  background-image: url("../images/tags-gadget-2.png");
  width: 201px;
  height: 572px;
  top: 350px;
  left: 278px;
}

.text-orange {
  color: #ff6000;
}

.tags-descr {
  position: absolute;
  width: 360px;
  top: 406px;
  right: 135px;
  text-align: left;
}

.tags-descr__title {
  font-weight: 100;
  font-size: 38px;
  color: #ff6000;
  margin-bottom: 21px;
  line-height: 1.15;
}

.tags-descr__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}
.tags-descr__text p {
  line-height: 1.5;
}

.section-number_conclusion {
  margin-top: -42px;
  margin-bottom: 98px;
}
.section-number_conclusion::after {
  top: 114px;
}

.conclusion {
  position: relative;
  background-color: #00a8ff;
  height: 992px;
}

.conclusion__title {
  font-weight: 300;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  width: 650px;
  line-height: 1.1;
}

.conclusion__circle-big {
  position: absolute;
  width: 874px;
  height: 874px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  opacity: 0.3;
  top: 45px;
  left: 145px;
}

.conclusion__circle-small {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  width: 597px;
  height: 597px;
  top: 185px;
  left: 285px;
}

.conlcusion__all {
  position: absolute;
  font-size: 189.9px;
  color: #FFFFFF;
  font-weight: 900;
  text-transform: uppercase;
  left: 60px;
  top: 362px;
  letter-spacing: -9px;
}

.conclusion__tv {
  position: absolute;
  font-size: 189.9px;
  color: #ff6000;
  font-weight: 900;
  text-transform: uppercase;
  left: 744px;
  top: 362px;
  letter-spacing: -9px;
}

.conclusion__circle-white {
  position: absolute;
  top: 304px;
  left: 415px;
  width: 340.5px;
  height: 340.5px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
}

.counclusion__gadget {
  background: url("../images/conclusion-gadget.png") no-repeat;
  position: absolute;
  top: 300px;
  left: 280px;
  width: 1125px;
  height: 529px;
  z-index: 20;
}

.conclusion__bottom-text {
  position: absolute;
  font-size: 15px;
  font-weight: 300;
  color: #2d2d2d;
  width: 700px;
  text-align: center;
  left: 170px;
  line-height: 1.6;
  z-index: 100;
  top: 731px;
}

.conclusion__rostelcom {
  position: absolute;
  top: 855px;
  left: 409px;
  width: 221px;
  height: 65px;
  background: url("../images/rostelcom.png") no-repeat;
  z-index: 100;
}

.conclusion__circle-orange-top {
  position: absolute;
  top: 133px;
  right: -80px;
  width: 176px;
  height: 176px;
  background: url("../images/conclusion-orange-circle-top.png") no-repeat;
}

.conclusion__circle-blue-bottom {
  position: absolute;
  bottom: -187px;
  left: 8px;
  width: 338px;
  height: 338px;
  background: url("../images/conclusion-circle-blue-bottom.png") no-repeat;
}

.vsetv-wrapper .nav-white .nav__menu .nav__menu__contacts .btn {
  font-family: "Bello Pro";
}
.vsetv-wrapper .nav-white .nav__menu .nav__menu__contacts .btn:hover {
  color: #FFFFFF;
  background-color: #04a9ff;
  border-color: #04a9ff;
}
.vsetv-wrapper .nav-white .nav__back a:hover {
  color: #04a9ff;
}
.vsetv-wrapper .nav-white {
  height: 113px;
  position: absolute;
}
.vsetv-wrapper .pagenavi .pagenavi__post a .pagenavi__cell {
  font-family: "HelveticaNeueCyr", Helvetica;
  font-size: 16px;
  font-weight: 300;
  padding: 0 50px;
}
.vsetv-wrapper .pagenavi .pagenavi__post a {
  color: #000;
}
.vsetv-wrapper .pagenavi .pagenavi__post a:hover {
  border-color: #04a9ff;
  color: #04a9ff;
}
.vsetv-wrapper .link_site {
  text-align: center;
}
.vsetv-wrapper .pagenavi {
  padding-top: 70px;
  padding-bottom: 80px;
}
.vsetv-wrapper .link_site {
  margin-bottom: 45px;
}
.vsetv-wrapper .main_btn {
  font-family: "Bello Pro";
  display: inline-block;
  font-size: 20px;
  color: #FFFFFF;
  border: 2px solid #04a9ff;
  background-color: #04a9ff;
  padding: 5px 30px;
}
.vsetv-wrapper .main_btn:hover {
  text-decoration: none;
  color: #04a9ff;
  background-color: #fff;
  border-color: #04a9ff;
}
.vsetv-wrapper .feedback {
  padding-top: 90px;
}
.vsetv-wrapper .feedback .feedback__desktop p,
.vsetv-wrapper .feedback .feedback__desktop a,
.vsetv-wrapper .feedback__name {
  font-family: "HelveticaNeueCyr", HelveticaNeueCyr;
}
.vsetv-wrapper .feedback__name {
  font-weight: 200;
  margin-bottom: 50px;
}
.vsetv-wrapper .feedback .feedback__email .form-group .btn {
  font-family: "Bello Pro";
  border-radius: 0;
  height: auto;
  background-color: transparent;
  font-size: 28px;
  color: #464646;
  border: 3px solid #464646;
  padding-top: 11px;
  padding-bottom: 11px;
}
.vsetv-wrapper .feedback .feedback__email .form-group .btn:hover {
  background-color: #04a9ff;
  border-color: #04a9ff;
  color: #FFFFFF;
}
.vsetv-wrapper .vista {
  background-color: #04a9ff;
}
.vsetv-wrapper .vista,
.vsetv-wrapper .vista__name,
.vsetv-wrapper .vista p,
.vsetv-wrapper .vista span {
  font-family: "HelveticaNeueCyr", HelveticaNeueCyr;
  color: #000;
}
.vsetv-wrapper .section__space b {
  background-color: #04a9ff;
}
.vsetv-wrapper .contacts {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.pt50 {
  padding-top: 50px;
}

.pt152 {
  padding-top: 152px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb7 {
  margin-bottom: 7px;
}

.mb11 {
  margin-bottom: 11px;
}

.mb13 {
  margin-bottom: 13px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb17 {
  margin-bottom: 17px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb23 {
  margin-bottom: 23px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb28 {
  margin-bottom: 28px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb47 {
  margin-bottom: 47px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb55 {
  margin-bottom: 55px;
}

.mr105 {
  margin-right: 105px;
}

.fz30 {
  font-size: 30px;
}

.fz36 {
  font-size: 36px;
}

.fz38 {
  font-size: 38px;
}

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
