{% extends "layouts/app.twig" %}

{% block pageTitle %}ВсеТВ{% endblock %}

{% block content %}

    <div class="block">
        <div class="general pt152">
            <div class="general__circle-blue"></div>

            <div class="container">
                <div class="general__circle-big-border-gray wow fadeIn" data-wow-delay="1s"></div>
                <div class="general__circle-small-border-gray wow fadeIn" data-wow-delay="1s"></div>
                <div class="general__circle-orange wow fadeIn" data-wow-delay="1.3s"></div>
                <div class="general__all-tv wow fadeInRight"></div>
                <div class="general__gadget wow fadeInRight" data-wow-delay="0.5s"></div>
                <div class="general__circle-white-big wow fadeIn" data-wow-delay="1.3s">
                    <div class="general__circle-white-medium wow fadeIn" data-wow-delay="1.6s">
                        <div class="general__circle-white-small wow fadeIn" data-wow-delay="1.9s">
                            <div class="general__logo-66x47 wow fadeIn" data-wow-delay="2.1s"></div>
                        </div>
                    </div>
                </div>
                <div class="container-910">
                    <div class="rostelecom-logo text-center mb24">
                        <i class="fri fri-rostelecom-logo"></i>
                    </div>
                    <div class="small-title">Развлекательное мобильное приложение</div>
                </div>
            </div>
        </div>

        <div class="container container_955 mb50">
            <div class="tasks__grid tasks-grid">
                <div class="tasks-gray-circle"></div>
                <div class="tasks-grid__item tasks-grid__item_w410 tasks-grid-item">
                    <div class="mb20">
                        <span class="tasks-grid-item__title">Задача</span>
                    </div>
                    <p class="tasks-grid-item__paragraph mb23">
                        Создать приложение для Ростелекома с функционалом просмотра ТВ-программы и бесплатных передач от ВсёТВ.
                    </p>
                    <p class="tasks-grid-item__paragraph mb47">
                        Реализовать необычную фильтрацию по большому банку фильмов Интерактивного ТВ Ростелеком.
                    </p>
                    <div class="mb18"><span class="tasks-grid-item__title">Клиент</span></div>
                    <p class="tasks-grid-item__paragraph mb35">
                        Компания iBecom — разработчик продуктов и решений в области микролокаций и indoor-навигации. <a href="www.espley.ru" target="_blank">www.espley.ru</a>
                    </p>
                </div>
                <div class="tasks-grid__item tasks-grid__item_w400 tasks-grid-item">
                    <div class="mb20">
                        <span class="tasks-grid-item__title">Проблематика</span>
                    </div>
                    <p class="tasks-grid-item__paragraph mb23">В приложении  пользователь должен искать фильмы, передачи не по привычным всем — режиссёру, актеру, году и прочим параметрам, а по настроению.
                    </p>
                    <p class="tasks-grid-item__paragraph mb7">Что нам хочется сегодня увидеть на экране:</p>
                    <div class="tasks-hashtags">
                        <div class="tasks-hashtags__item"><span class="hashtag">#МилыеЖивотные</span></div>
                        <div class="tasks-hashtags__item"><span class="hashtag">#Спорт</span></div>
                        <div class="tasks-hashtags__item"><span class="hashtag is-filled">#НеДляВсех</span></div>
                        <div class="tasks-hashtags__item"><span class="hashtag">#СноваНаУчебу</span></div>
                        <div class="tasks-hashtags__item"><span class="hashtag">#Авторазбор</span></div>
                        <div class="tasks-hashtags__item"><span class="hashtag hashtag_dots">&middot;&middot;&middot;</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb11">
            <div class="short-description">
                <div class="centered general__logo mb23"></div>
                <div class="background-question">Что это?</div>
                <div class="small-title fz38">Собственный инфо канал интерактивного ТВ.</div>
                <div class="short-description-grid">
                    <div class="short-description-grid__left-item">
                        Узнай, какие фильмы есть в видеопрокате, какие каналы входят в пакет Интерактивного ТВ и еще целый спектр кино и тв новостей!
                    </div>
                    <div class="short-description-grid__center-item"></div>
                    <div class="short-description-grid__right-item">
                        Смотри выпуски передач ВСЕ ТВ, подписывайся на передачи и получай уведомления о выходе нового выпуска.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="design">
        <div class="container">
            <div class="small-title fz38 text-white text-center mb5">лаконичный и современный</div>
            <div class="design__title">Дизайн</div>
        </div>
        <div class="container">
            <div class="design-slider">
                <div class="design-slider__carousel owl-carousel jq-design-slider">
                    <div class="design-slider__slide design-slider__slide-1"></div>
                    <div class="design-slider__slide design-slider__slide-2"></div>
                    <div class="design-slider__slide design-slider__slide-3"></div>
                    <div class="design-slider__slide design-slider__slide-4"></div>
                    <div class="design-slider__slide design-slider__slide-5"></div>
                    <div class="design-slider__slide design-slider__slide-6"></div>
                    <div class="design-slider__slide design-slider__slide-7"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="tv-guide jq-element-wrapper" data-element-container="tv-guide">
        <div class="tv-guide__circle-blue"></div>
        <div class="container">
            <div class="section-number">1</div>
            <div class="small-title fz36 mb17">Теле-гид</div>
            <div class="tv-guide__paragraph">
                Здесь собраны программы передач огромного количества каналов.  Реализована фильтрация по тематикам. Если захочется посмотреть передачу про жизнь животных или космос, выдача по параметру «образовательные» предложит более 20 каналов для прокачки знаний.
            </div>
        </div>
        <div class="tv-guide-images">
            <div class="tv-guide__image tv-guide__image_1 wow fadeInRight jq-element" data-wow-offset="" data-element="tv-guide"></div>
            <div class="tv-guide__image tv-guide__image_2 wow fadeInRight jq-element" data-wow-delay="1s" data-wow-offset="" data-element="tv-guide"></div>
            <div class="tv-guide__image tv-guide__image_3 wow fadeInRight jq-element" data-wow-delay="2s" data-wow-offset="" data-element="tv-guide"></div>
            <div class="arrow arrow_1 wow fadeIn jq-element" data-wow-delay="3.5s" data-wow-offset="" data-element="tv-guide">Подробная карточка телепередачи</div>
            <div class="arrow arrow_2 wow fadeIn jq-element" data-wow-delay="2.5s" data-wow-offset="" data-element="tv-guide">Фильтрация по тематикам</div>
            <div class="arrow arrow_3 wow fadeIn jq-element" data-wow-delay="3s" data-wow-offset="" data-element="tv-guide">Программы, которые прямо сейчас идут на канале, подсвечиваются, что очень удобно</div>
        </div>
    </div>

    <div class="collection jq-element-wrapper" data-element-container="collection">
        <div class="container">
            <div class="section-number">2</div>
            <div class="small-title fz36 mb55">
                Коллекция видеопроката, любимых фильмов и передач
            </div>
            <div class="collection__paragraph">В приложении представлена большая база фильмов, которые при желании можно купить. Навигация осуществляется с помощью хэштегов настроения. Можно посмотреть трейлер и рейтинг фильма в приложении. Сегодня настрой на русскую мелодраму — #Любить_По_Русски облегчит выбор фильма или сериала на вечер.
            </div>
            <div class="collection-images">
                <div class="collection__gadget wow fadeInRight jq-element" data-wow-delay="" data-wow-offset="" data-element="collection"></div>
                <div class="collection__screen collection__screen_1 wow fadeInRight jq-element" data-wow-delay="0.5s" data-wow-offset="" data-element="collection"></div>
                <div class="collection__screen collection__screen_2 wow fadeInRight jq-element" data-wow-delay="1s" data-wow-offset="" data-element="collection"></div>
                <div class="collection__screen collection__screen_3 wow fadeInRight jq-element" data-wow-delay="1.5s" data-wow-offset="" data-element="collection"></div>
                <div class="collection__price  wow fadeIn jq-element" data-wow-delay="2.6s" data-wow-offset="" data-element="collection">229 руб</div>
                <div class="collection__rating  wow fadeIn jq-element" data-wow-delay="2.6s" data-wow-offset="" data-element="collection"><i class="fri fri-star"></i>8,9</div>
                <div class="arrow arrow_4 wow fadeIn jq-element" data-wow-delay="2.3s" data-wow-offset="" data-element="collection">Делитесь в соц. сетях</div>
                <div class="collection__vk wow fadeIn jq-element" data-wow-delay="1.7s" data-wow-offset="" data-element="collection"></div>
                <div class="collection__fb wow fadeIn jq-element" data-wow-delay="2s" data-wow-offset="" data-element="collection"></div>
            </div>
        </div>
    </div>

    <div class="my-collection jq-element-wrapper" data-element-container="my-collection">
        <div class="my-collection__circle-blue"></div>
        <div class="container">
            <div class="my-collection-wrapper">
                <div class="my-collection__profile wow fadeIn jq-element" data-wow-delay="" data-wow-offset="" data-element="my-collection"></div>
                <div class="my-collection__remind wow fadeIn jq-element" data-wow-delay="1.5s" data-wow-offset="" data-element="my-collection"></div>
                <div class="my-collection__profile-descr wow fadeIn jq-element" data-wow-delay="1s" data-wow-offset="" data-element="my-collection">
                    <div class="profile__photo"></div>
                    <div class="profile__descr">
                        <div class="profile__name">Евгений Лосев</div>
                        <div class="profile__email">eugene@yandex.ru</div>
                        <div class="profile__status">
                            <i class="fri fri-camera"></i>
                            <div class="profile__status-name">Кинолюбитель</div>
                        </div>
                    </div>
                </div>
                <div class="arrow arrow_5 wow fadeIn jq-element" data-wow-delay="0.5s" data-wow-offset="" data-element="my-collection">Моя коллекция</div>
                <div class="arrow arrow_6 wow fadeIn jq-element" data-wow-delay="2s" data-wow-offset="" data-element="my-collection">Напоминания</div>
                <div class="my-collection__top-text">
                    Моя коллекция — это хорошее решение, чтобы не забыть посмотреть хороший фильм.
                </div>
                <div class="my-collection__bottom-text">
                    <p class="paragraph">Понравившуюся картину можно оценить сердечком и она окажется в избранном. Своим выбором, отзывом или оценкой можно поделиться в социальных сетях.</p>
                    <p class="paragraph">Для ТВ-программы оповещение выставляется за определенное время (30 мин, час, два и т.д.)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tags jq-element-wrapper" data-element-container="tags">
        <div class="container">
            <div class="section-number section-number_tags">3</div>
            <div class="tags__title wow pulse jq-element" data-element="tags" data-wow-duration="0.6s" data-wow-delay="" data-wow-offset="">
                <span class="tags__title-text-orange">#Теги-</span>
                <span class="tags__title-text-blue">настроения</span>
            </div>
            <div class="tags__small-title">создали особую систему тегирования</div>
            <div class="tags-gray-circle-big"></div>
            <div class="tags-gray-circle-small"></div>
            <div class="tags-gadgets">
                <div class="tags-gadget tags-gadget_1 wow fadeIn jq-element" data-element="tags" data-wow-delay="0.6s" data-wow-duration="1.5s" data-wow-offset=""></div>
                <div class="tags-gadget tags-gadget_2 wow fadeIn jq-element" data-element="tags" data-wow-delay="0.6s" data-wow-duration="1.5s" data-wow-offset=""></div>
            </div>
            <div class="tags-descr">
                <div class="tags-descr__title">3 этапа фильтрации</div>
                <div class="tags-descr__text mb20">
                    <p class="text-orange">Существует огромная база данных фильмов и передач с кратким описанием сюжета.</p>
                    <p>База находится на стороне Ростелекома. Автоматически формируется список слов-вхождений — начальные формы всех слов, которые есть в описании.</p>
                </div>
                <div class="tags-descr__text mb28">
                    <p class="text-orange">Создаются субъективные теги</p>
                    <p>— любовь, отдых, война, дружба и прочее. Их список может пополняться администратором.
К ним вручную присваиваются слова-вхождения.</p>
                </div>
                <div class="tags-descr__text">
                    <p class="text-orange">Создание базы хэштегов </p>
                    <p>которая постоянно пополняется администратором. Каждому хэштегу приписываются отвечающие по смыслу фильмы, передачи. Для этого хэштег описывается по определённой схеме.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="conclusion jq-element-wrapper" data-element-container="conclusion">
        <div class="conclusion__circle-orange-top"></div>
        <div class="container">
            <div class="conclusion__circle-big wow pulse jq-element" data-element="conclusion" data-wow-delay="" data-wow-duration="0.5s" data-wow-iteration="5" data-wow-offset=""></div>
            <div class="conclusion__circle-small wow pulse jq-element" data-element="conclusion" data-wow-delay="" data-wow-duration="0.5s" data-wow-iteration="5" data-wow-offset=""></div>
            <div class="section-number section-number_conclusion">4</div>
            <div class="conclusion__title">
                Удобный и интересный навигатор для клиента Интерактивного телевидения Ростелеком и не только.
            </div>
            <div class="conlcusion__all">Все</div>
            <div class="conclusion__tv">ТВ</div>
            <div class="conclusion__circle-white"></div>
            <div class="counclusion__gadget"></div>
            <div class="conclusion__bottom-text">
                ТВ-программа, кроме расписания, подсказывает номер канала, а видеопрокат — стоимость фильма. Киноман выберет картину на вечер по настроению и расшарит понравившийся сериал друзьям, а начинающий кулинар не пропустит передачу с всемирно известным поваром.
            </div>
            <div class="conclusion__rostelcom"></div>
        </div>
        <div class="conclusion__circle-blue-bottom"></div>
    </div>

{% endblock %}