{% extends "layouts/app.twig" %}

{% block pageTitle %}ВсеТВ{% endblock %}

{% block content %}

<div class="block is-overflow-hidden">
    <div class="circle circle_blue"></div>
    <div class="container container_910">
        <div class="rostelecom-logo">

        </div>
    </div>
</div>

{% endblock %}