<section class="pagenavi">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="link_site">
                    <a href="#feedback" class="main_btn">Заказать проект</a>
                </div>
                <div class="pagenavi__list">
                    <div class="pagenavi__post is-left">
                        <a href="/clients/main/rossiyskiy-fond-pryamykh-investitsiy/">
                             <span class="pagenavi__row">
                                <span class="pagenavi__cell">
                                    Корпоративный портал<br>
                                    для РФПИ
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="pagenavi__center hidden-xs">
                        <div class="icon">
                            <div class="icon__eye is-left">
                                <i class="icon"></i>
                            </div>
                            <div class="icon__eye is-right">
                                <i class="icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="pagenavi__post is-right">
                        <a href="/clients/main/ipsen/">
                            <span class="pagenavi__row">
                                <span class="pagenavi__cell">
                                    Мобильные приложения<br>
                                    фармгруппы IPSEN
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feedback">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feedback__name">
                    Пригласите на встречу,<br>
                    получите идеи развития бизнеса
                </div>
                <div class="feedback__form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feedback__desktop">
                                <p>
                                    Чтобы получить консультацию наших экспертов, свяжитесь с нами удобным для вас способом: заполнив форму справа, позвонив по телефону
                                </p>
                                <p class="is-phone">
                                    <a href="tel:+7(495)6603778">(495) 660 37 78</a>
                                </p>
                                <p>
                                    или отправив нам письмо на адрес
                                </p>
                                <p class="is-mail">
                                    <a href="mailto:hello@arealidea.ru">hello@arealidea.ru</a>
                                </p>
                                <p>
                                    Не забудьте рассказать о вашей компании, цели проекта, имеющихся наработках и оставить свои контактные данные.
                                </p>
                            </div>
                            <div class="feedback__mobile">
                                <p>
                                    Чтобы получить консультацию наших экспертов, свяжитесь с нами удобным для вас способом:<br>
                                    позвонив по телефону
                                </p>
                                <p class="is-phone">
                                    <a href="tel:+7(495)6603778">(495) 660 37 78</a>
                                </p>
                                <p>
                                    или заполните форму ниже
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form action="#" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="sessid" id="sessid" value="">
                                <input type="hidden" name="WEB_FORM_ID" value="">
                                <input type="hidden" name="c888" value="888">
                                <div class="feedback__email">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="form_text_23" placeholder="Имя*" value="">
                                        <span class="form-error"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="form_email_26" placeholder="Email*" value="">
                                        <span class="form-error"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="form_text_27" placeholder="Телефон*" value="">
                                        <span class="form-error"></span>
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="4" class="form-control" name="form_textarea_28" placeholder="Хочу получить консультацию"></textarea>
                                    </div>
                                    <input type="hidden" class="" name="form_text_29" value="">
                                    <div class="form-group">
                                        <input title="" type="submit" class="btn btn-block" name="web_form_submit" value="Отправить">
                                        <a target="_blank" class="form-group_confidentiality-link" href="/confidentiality/">Ознакомиться с Политикой конфиденциальности</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vista">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="vista__name">
                    Больше возможностей<br>
                    для вашего бизнеса
                </div>
                <div class="vista__list">
                    <div class="vista__desktop">
                        <ul class="short__extra__n">
                            <li>
                                <a href="/site/">
                                    <span class="vista__image">
                                        <i class="icon icon__vista1"></i>
                                    </span>
                                    <span class="vista__title">Создание,<br>поддержка сайтов
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/site/">
                                    <span class="vista__image">
                                        <i class="icon icon__vista2"></i>
                                    </span>
                                    <span class="vista__title">
                                        Продвижение,<br>повышение продаж

                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/site/">
                                    <span class="vista__image">
                                        <i class="icon icon__vista3"></i>
                                    </span>
                                    <span class="vista__title">
                                        Корпорталы,<br>веб-интеграция
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/site/">
                                    <span class="vista__image">
                                        <i class="icon icon__vista4"></i>
                                    </span>
                                    <span class="vista__title">
                                        Мобильные <br> решения, AR
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/site/">
                                    <span class="vista__image">
                                        <i class="icon icon__vista5"></i>
                                    </span>
                                    <span class="vista__title">
                                        Сайт агентства <br> AREALIDEA
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contacts js-section__control-is-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contacts__name">Будьте с&nbsp;нами</div>
                <div class="section__space"><b></b></div>
                <div class="section__social">
                    <ul>
                        <li><a href="https://www.facebook.com/arealidea" target="_blank" title="AREALiDEA - Москва - Рекламное агентство, Веб-разработка | Facebook"><i class="icon icon__facebook"></i></a></li>
                        <li><a href="https://twitter.com/arealsoft" target="_blank" title="AREALIDEA (@arealsoft) | Твиттер"><i class="icon icon__twitter"></i></a></li>
                        <li><a href="https://vk.com/arealidea" target="_blank" title="AREALIDEA, Interactive Agency | ВКонтакте"><i class="icon icon__vkontakte"></i></a></li>
                    </ul>
                </div>
                <div class="contacts__address">
                    <a title="Напишите нам" href="mailto:hello@arealidea.ru" onclick="_gaq.push(['_trackEvent', 'send', 'email']);
              yaCounter12890632.reachGoal('ym_email');">hello@arealidea.ru</a>, <a title="Позвоните нам" href="tel:+7(495)6603778" onclick="_gaq.push(['_trackEvent', 'send', 'call']);
              yaCounter12890632.reachGoal('ym_call');">(495) 660 37 78</a>
                </div>
                <div class="contacts__logo">
                    <a href="javascript:;" class="scrollTop" title=""><i class="icon icon__logo"></i></a>
                </div>
                <div class="copyright">
                    <a title="copyright" href="/copyright/">©&nbsp;<span class="date">2003&nbsp;—&nbsp;2017</span></a>
                    <br>
                    <a title="confidentiality" href="/confidentiality/"><span class="date">Политика конфиденциальности</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
