<header class="top-nav">
    <div class="container container_header">
        <div class="flex">
            <div class="top-nav__logo flex-item-left">
                <a class="inline-block" href="/"><i class="fri fri-logo"></i></a>
            </div>
            <div class="top-nav__back flex flex-column flex-item-center">
                <i class="top-nav__back-icon fri fri-arrow-dark flex-item-middle"></i>
                <span class="top-nav__back-text flex-item-middle text-center">К списку проектов</span>
            </div>
            <div class="top-nav__contacts flex-item-right">
                <a class="button button__nav" href="#">Получить консультацию</a>
            </div>
        </div>
    </div>
</header>