<header class="nav nav-top nav-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="nav__logo nav__single">
                    <a href="/">
                        <i class="fri fri-logo"></i>
                    </a>
                </div>
                <div class="nav__back">
                    <a href="/">
                        <span>
                            <i class="top-nav__back-icon fri fri-arrow-dark"></i>
                        </span>
                        Узнать о компании
                    </a>
                </div>
                <div class="nav__menu">
                    <div class="nav__menu__contacts">
                        <a href="#feedback" class="btn sroll">Получить консультацию</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>